name: Deploy Cloud Task API
on:
    push:
      branches: [main, dev]
    workflow_dispatch:

permissions:
  contents: read
  id-token: write
env:
  PYTHON_VERSION: "3.14.2"
jobs:
    lints:
        name: Linting and Code Quality
        runs-on: Ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5
            
            - name: Python Environment Setup
              uses: ./.github/actions/python-env-setup
              with:
                python-version: ${{ env.PYTHON_VERSION }}
                cache-key-suffix: "preperation-${{ env.PYTHON_VERSION}}"
            - name: Check Import (Isort)
              run: |
                isort flask_app --check-only --diff

            - name: Check Formatting (Black)
              run: |
                black flask_app --check

            - name: Lint with Flake8
              run: |
                flake8 flask_app
    
    tests:
        name: Run Tests
        runs-on: Ubuntu-latest
        needs: lints
        environment: ${{ github.ref_name == 'main' && 'production' || 'development' }}
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - name: Setup Python Environment
              uses: ./.github/actions/python-env-setup
              with:
                python-version: ${{ env.PYTHON_VERSION }}
                cache-key-suffix: preparation-${{ env.PYTHON_VERSION}}

            - name: Activate PostgreSQL
              run: |
                sudo systemctl start postgresql.service
                sudo -u postgres psql -c 'select 1' || sleep 6
                sudo -u postgres psql -c "ALTER USER postgres PASSWORD '${{ secrets.DB_PASSWORD }}'"
                sudo -u postgres psql -c 'create database ${{ secrets.DB_NAME }}'
            
            - name: Run Tests
              env:
                DB_URL: ${{ secrets.DB_URL }}
                DB_USER: ${{ secrets.DB_USER }}
                DB_PASS: ${{ secrets.DB_PASSWORD }}
                DB_HOST: ${{ secrets.DB_HOST }}
                DB_NAME: ${{ secrets.DB_NAME }}
              working-directory: flask_app
              run: |
                python3 -m pytest
    
    Build_and_Push:
      runs-on: ubuntu-latest
      needs: tests
      environment: ${{ github.ref_name == 'main' && 'production' || 'development'}}
      steps:
        - name: Checkout Code
          uses: actions/checkout@v5
        
        - name: Setup GCP
          uses: ./.github/actions/gcp-auth
          with:
            provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
            service_account: ${{ secrets.SA_GITHUB }}
        
        - name: Configure Docker
          run: gcloud auth configure-docker ${{ vars.REGION }}-docker.pkg.dev
  
        - name: Docker Build
          id: build_step
          run: |
            IMAGE_TAG=${{vars.REGION}}-docker.pkg.dev/${{vars.PROJECT_ID}}/cloud-task-api-${{ github.ref == 'main' && 'prod' || 'dev' }}/${{vars.IMAGE_TAG}}:${{ github.sha}}
            echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
            docker build -t $IMAGE_TAG ./flask_app
        
        - name: Push Image
          run: |
            echo "Pushing image: $IMAGE_TAG"
            docker push $IMAGE_TAG
