name: Deploy Cloud Task API
on:
    pull_request:
        types:
            - closed
    workflow_dispatch:

env:
  PYTHON_VERSION: "3.14.2"
jobs:
    lints:
        name: Linting and Code Quality
        runs-on: Ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5
            
            - name: Python Environment Setup
              uses: ./.github/actions/python-env-setup
              with:
                python-version: ${{ env.PYTHON_VERSION }}
                cache-key-suffix: "preperation-${{ env.PYTHON_VERSION}}"
            - name: Check Import (Isort)
              run: |
                isort flask_app --check-only --diff

            - name: Check Formatting (Black)
              run: |
                black flask_app --check

            - name: Lint with Flake8
              run: |
                flake8 flask_app
    
    tests:
        name: Run Tests
        runs-on: Ubuntu-latest
        needs: lints
        environment: development
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - name: Setup Python Environment
              uses: ./.github/actions/python-env-setup
              with:
                python-version: ${{ env.PYTHON_VERSION }}
                cache-key-suffix: preparation-${{ env.PYTHON_VERSION}}

            - name: Activate PostgreSQL
              run: |
                sudo systemctl start postgresql.service
                sudo -u postgres psql -c 'select 1' || sleep 6
                sudo -u postgres psql -c "ALTER USER postgres PASSWORD '${{ secrets.DB_PASSWORD }}'"
                sudo -u postgres psql -c 'create database task_db'
            
            - name: Run Tests
              env:
                DB_URL: ${{ secrets.DB_URL }}
              working-directory: flask_app
              run: |
                python3 -m pytest